In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('startup data.csv')

In [3]:
data.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,1,1,0,0,0,0,1.0000,1,closed

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 49 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                923 non-null    int64
 1   state_code                923 non-null    object
 2   latitude                  923 non-null    float64
 3   longitude                 923 non-null    float64
 4   zip_code                  923 non-null    object
 5   id                        923 non-null    object
 6   city                      923 non-null    object
 7   Unnamed: 6                430 non-null    object
 8   name                      923 non-null    object
 9   labels                    923 non-null    int64
 10  founded_at                923 non-null    object
 11  closed_at                 335 non-null    object
 12  first_funding_at          923 non-null    object
 13  last_funding_at           923 non-null    object
 14  age_first_funding_year    923 non-null    float64
 15  age_last_funding_year     923 non-null    float64
 16  age_first_milestone_year  771 non-null    float64
 17  age_last_milestone_year   771 non-null    float64
 18  relationships             923 non-null    int64
 19  funding_rounds            923 non-null    int64
 20  funding_total_usd         923 non-null    int64
 21  milestones                923 non-null    int64
 22  state_code.1              922 non-null    object
 23  is_CA                     923 non-null    int64
 24  is_NY                     923 non-null    int64
 25  is_MA                     923 non-null    int64
 26  is_TX                     923 non-null    int64
 27  is_otherstate             923 non-null    int64
 28  category_code             923 non-null    object
 29  is_software               923 non-null    int64
 30  is_web                    923 non-null    int64
 31  is_mobile                 923 non-null    int64
 32  is_enterprise             923 non-null    int64
 33  is_advertising            923 non-null    int64
 34  is_gamesvideo             923 non-null    int64
 35  is_ecommerce              923 non-null    int64
 36  is_biotech                923 non-null    int64
 37  is_consulting             923 non-null    int64
 38  is_othercategory          923 non-null    int64
 39  object_id                 923 non-null    object
 40  has_VC                    923 non-null    int64
 41  has_angel                 923 non-null    int64
 42  has_roundA                923 non-null    int64
 43  has_roundB                923 non-null    int64
 44  has_roundC                923 non-null    int64
 45  has_roundD                923 non-null    int64
 46  avg_participants          923 non-null    float64
 47  is_top500                 923 non-null    int64
 48  status                    923 non-null    object
dtypes: float64(7), int64(28), object(14)
memory usage: 353.5+ KB

In [5]:
data.isnull().sum()

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  493
name                          0
labels                        0
founded_at                    0
closed_at                   588
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    152
age_last_milestone_year     152
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                        0
has_angel                     0
has_roundA                    0
has_roundB                    0
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
status                        0
dtype: int64

In [9]:
data.shape

(923, 49)

In [10]:
data.describe()

,Unnamed: 0,latitude,longitude,labels,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,...,is_consulting,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500
count,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,771.000000,771.000000,923.000000,923.000000,...,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000
mean,572.297941,38.517442,-103.539212,0.646804,2.235630,3.931456,3.055353,4.754423,7.710726,2.310943,...,0.003250,0.322860,0.326111,0.254605,0.508126,0.392199,0.232936,0.099675,2.838586,0.809317
std,333.585431,3.741497,22.394167,0.478222,2.510449,2.967910,2.977057,3.212107,7.265776,1.390922,...,0.056949,0.467823,0.469042,0.435875,0.500205,0.488505,0.422931,0.299729,1.874601,0.393052
min,1.000000,25.752358,-122.756956,0.000000,-9.046600,-9.046600,-14.169900,-7.005500,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,283.500000,37.388869,-122.198732,0.000000,0.576700,1.669850,1.000000,2.411000,3.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.500000,1.000000
50%,577.000000,37.779281,-118.374037,1.000000,1.446600,3.528800,2.520500,4.476700,5.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.500000,1.000000
75%,866.500000,40.730646,-77.214731,1.000000,3.575350,5.560250,4.686300,6.753400,10.000000,3.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,3.800000,1.000000
max,1153.000000,59.335232,18.057121,1.000000,21.895900,21.895900,24.684900,24.684900,63.000000,10.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,16.000000,1.000000

In [16]:
import pandas as pd

# Convert founded_at and last_funding_at to year
data["founded_year"] = pd.to_datetime(
    data["founded_at"], errors="coerce"
).dt.year

data["last_funding_year"] = pd.to_datetime(
    data["last_funding_at"], errors="coerce"
).dt.year

# Compute startup age
data["startup_age"] = data["last_funding_year"] - data["founded_year"]

# Ensure no negative ages
data["startup_age"] = data["startup_age"].clip(lower=0)

In [17]:
DROP_COLS = [
    # Junk / unnamed columns
    "Unnamed: 0", "Unnamed: 6",

    # Identifiers / names
    "id", "object_id", "name", "labels",

    # Location-specific (US bias)
    "city", "state_code", "state_code.1", "zip_code",
    "latitude", "longitude",
    "is_CA", "is_NY", "is_MA", "is_TX", "is_otherstate",

    # Raw date columns (we already used them)
    "founded_at", "closed_at",
    "first_funding_at", "last_funding_at",

    # Industry one-hot columns (too granular, US-centric)
    "category_code",
    "is_software", "is_web", "is_mobile", "is_enterprise",
    "is_advertising", "is_gamesvideo", "is_ecommerce",
    "is_biotech", "is_consulting", "is_othercategory",

    # Funding round flags (high leakage / redundant)
    "has_roundA", "has_roundB", "has_roundC", "has_roundD",

    # Age columns we don’t need anymore
    "age_first_funding_year",
    "age_first_milestone_year",
    "age_last_milestone_year",

    # Ranking (US-only signal)
    "is_top500"
]

# Drop columns in-place (safe)
data.drop(columns=[c for c in DROP_COLS if c in data.columns], inplace=True)

In [18]:
data.shape

(923, 12)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age_last_funding_year  923 non-null    float64
 1   relationships          923 non-null    int64
 2   funding_rounds         923 non-null    int64
 3   funding_total_usd      923 non-null    int64
 4   milestones             923 non-null    int64
 5   has_VC                 923 non-null    int64
 6   has_angel              923 non-null    int64
 7   avg_participants       923 non-null    float64
 8   status                 923 non-null    object
 9   last_funding_year      923 non-null    int32
 10  founded_year           923 non-null    int32
 11  startup_age            923 non-null    int32
dtypes: float64(2), int32(3), int64(6), object(1)
memory usage: 75.8+ KB

In [20]:
data.head()

,age_last_funding_year,relationships,funding_rounds,funding_total_usd,milestones,has_VC,has_angel,avg_participants,status,last_funding_year,founded_year,startup_age
0,3.0027,3,3,375000,3,0,1,1.0000,acquired,2010,2007,3
1,9.9973,9,4,40100000,1,1,0,4.7500,acquired,2009,2000,9
2,1.0329,5,1,2600000,2,0,0,4.0000,acquired,2010,2009,1
3,5.3151,5,3,40000000,1,0,0,3.3333,acquired,2007,2002,5
4,1.6685,2,2,1300000,1,1,1,1.0000,closed,2012,2010,2

In [22]:
data["startup_age_safe"] = data["startup_age"] + 1
data["funding_per_year"] = (
    data["funding_total_usd"] / data["startup_age_safe"]
)

In [23]:
data["execution_velocity"] = (
    data["milestones"] / data["startup_age_safe"]
)

In [24]:
data["rounds_per_year"] = (
    data["funding_rounds"] / data["startup_age_safe"]
)

In [25]:
data.drop(columns=["startup_age_safe"], inplace=True)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age_last_funding_year  923 non-null    float64
 1   relationships          923 non-null    int64
 2   funding_rounds         923 non-null    int64
 3   funding_total_usd      923 non-null    int64
 4   milestones             923 non-null    int64
 5   has_VC                 923 non-null    int64
 6   has_angel              923 non-null    int64
 7   avg_participants       923 non-null    float64
 8   status                 923 non-null    object
 9   last_funding_year      923 non-null    int32
 10  founded_year           923 non-null    int32
 11  startup_age            923 non-null    int32
 12  funding_per_year       923 non-null    float64
 13  execution_velocity     923 non-null    float64
 14  rounds_per_year        923 non-null    float64
dtypes: float64(5), int32(3), int64(6), object(1)
memory usage: 97.5+ KB

In [27]:
data.head()

,age_last_funding_year,relationships,funding_rounds,funding_total_usd,milestones,has_VC,has_angel,avg_participants,status,last_funding_year,founded_year,startup_age,funding_per_year,execution_velocity,rounds_per_year
0,3.0027,3,3,375000,3,0,1,1.0000,acquired,2010,2007,3,9.375000e+04,0.750000,0.750000
1,9.9973,9,4,40100000,1,1,0,4.7500,acquired,2009,2000,9,4.010000e+06,0.100000,0.400000
2,1.0329,5,1,2600000,2,0,0,4.0000,acquired,2010,2009,1,1.300000e+06,1.000000,0.500000
3,5.3151,5,3,40000000,1,0,0,3.3333,acquired,2007,2002,5,6.666667e+06,0.166667,0.500000
4,1.6685,2,2,1300000,1,1,1,1.0000,closed,2012,2010,2,4.333333e+05,0.333333,0.666667

In [28]:
data.drop(columns=['age_last_funding_year','founded_year','last_funding_year'],inplace=True)

In [29]:
data.head()

,relationships,funding_rounds,funding_total_usd,milestones,has_VC,has_angel,avg_participants,status,startup_age,funding_per_year,execution_velocity,rounds_per_year
0,3,3,375000,3,0,1,1.0000,acquired,3,9.375000e+04,0.750000,0.750000
1,9,4,40100000,1,1,0,4.7500,acquired,9,4.010000e+06,0.100000,0.400000
2,5,1,2600000,2,0,0,4.0000,acquired,1,1.300000e+06,1.000000,0.500000
3,5,3,40000000,1,0,0,3.3333,acquired,5,6.666667e+06,0.166667,0.500000
4,2,2,1300000,1,1,1,1.0000,closed,2,4.333333e+05,0.333333,0.666667

In [30]:
data.drop(columns=['funding_per_year'],inplace=True)

In [31]:
data.head()

,relationships,funding_rounds,funding_total_usd,milestones,has_VC,has_angel,avg_participants,status,startup_age,execution_velocity,rounds_per_year
0,3,3,375000,3,0,1,1.0000,acquired,3,0.750000,0.750000
1,9,4,40100000,1,1,0,4.7500,acquired,9,0.100000,0.400000
2,5,1,2600000,2,0,0,4.0000,acquired,1,1.000000,0.500000
3,5,3,40000000,1,0,0,3.3333,acquired,5,0.166667,0.500000
4,2,2,1300000,1,1,1,1.0000,closed,2,0.333333,0.666667

In [32]:
# Save final processed dataset to CSV
data.to_csv("startup_final_dataset.csv", index=False)